<% if @name %>
  <h1>My name is <%= @name %></h1>
<% end %>

<% if @color %>
  <h1>I am <%= @color %></h1>
<% end %>

<% if !@name %>
  <form action="/named-cat">
    <label for="name">Cat name:</label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
<% end %>

<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>
